<div style="margin-bottom: 3rem;">
    <h3>{{ 'setono_sylius_review.ui.store_review'|trans }}</h3>
    <p style="color: #666; margin-bottom: 1.5rem;">{{ 'setono_sylius_review.ui.store_review_description'|trans }}</p>

    <div class="field">
        {{ form_label(form.storeReview.rating) }}
        <div class="ui rating-choices">
            {{ form_widget(form.storeReview.rating) }}
        </div>
        {{ form_errors(form.storeReview.rating) }}
    </div>
    {{ form_row(form.storeReview.title) }}
    {{ form_row(form.storeReview.comment) }}
</div>
